@font-face {
	font-family: 'Lemans';
	src:
		url('/fonts/Lemans.woff') format('woff'),
		url('/fonts/Lemans.woff2') format('woff2'),
		url('fonts/Lemans.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
	text-rendering: optimizeLegibility;
}

@font-face {
	font-family: 'DMSans';
	src: url('/fonts/DMSans-Regular.ttf') format('truetype');
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: 'DMSans';
	src: url('/fonts/DMSans-Bold.ttf') format('truetype');
	font-style: normal;
	font-weight: 700;
	font-display: swap;
}

@font-face {
	font-family: 'DMSans';
	src: url('/fonts/DMSans-Italic.ttf') format('truetype');
	font-style: italic;
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: 'DMSans';
	src: url('/fonts/DMSans-BoldItalic.ttf') format('truetype');
	font-style: italic;
	font-weight: 700;
	font-display: swap;
}

@font-face {
	font-family: 'DMSans';
	src: url('/fonts/DMSans-Medium.ttf') format('truetype');
	font-style: normal;
	font-weight: 500;
	font-display: swap;
}

@font-face {
	font-family: 'DMSans';
	src: url('/fonts/DMSans-MediumItalic.ttf') format('truetype');
	font-style: italic;
	font-weight: 500;
	font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	p {
		@apply pt-8 first:pt-0;
	}
}
